body{
    color: white;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
#page-container {
    position: relative;
    min-height: 100vh;
    margin: 0px 10%;
    padding: 5%;
    background: black;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;   
  }
.head{
    display: flex;
    justify-content: space-around;
}
.logo2{
    width: 53%;
}
.logo{
    width: 23%;
}
.mail{
    padding: 10px;
}
.line2{
    text-align: justify;
    padding: 10px 0px;
}
.line1{
    font-size: 18px;
}
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 2.5rem; 
    display: flex;
    justify-content: center;
    background-color: black;
}
footer div{
    display: flex;
    
}
footer  div ul{
    padding-left: 5vw;
    align-self: center;
}
.msg{ 
    font-size: 12px;
    align-self: center;
    color: white;
}
.ig img{

    width: 17px;
}
.fb img{
    width: 8px;
}
.yt img{
    width: 20px;
}
li{
    list-style: none;
}
